
<div *ngIf="heroesState | async as state" [ngSwitch]="state.dataState">

    <div *ngSwitchCase="HeroesStateEnum.INITIAL">
        <div>Initial State</div>
    </div>

    <div *ngSwitchCase="HeroesStateEnum.LOADING">
      <mat-spinner mode="indeterminate">Loading ...</mat-spinner>
    </div>

    <div *ngSwitchCase="HeroesStateEnum.LOADED">
        <h2>My Heroes</h2>
            <ul class="heroes">
                <li *ngFor="let hero of state.heroes">
                <button type="button"  (click)="onEdit(hero)">
                  <span class="badge">{{hero.id}}</span>
                  <span class="name">{{hero.name}}</span>
                </button>

                  <div>
                    <button type="button" (click)="onDelete(hero)">x</button>
                  </div>

            </li>
            </ul>
        </div>

    <div *ngSwitchCase="HeroesStateEnum.ERROR">
        <div class="p-2">{{ state.errorMessage }}</div>
    </div>
</div>
