

<div *ngIf="heroesState | async as state" [ngSwitch]="state.dataState">

    <div *ngSwitchCase="HeroesStateEnum.INITIAL">
        <div>Initial State</div>
    </div>

    <div *ngSwitchCase="HeroesStateEnum.LOADING">
        <div>Loading ...</div>
    </div>

    <div *ngSwitchCase="HeroesStateEnum.LOADED">
        <h2>My Heroes</h2>
            <ul class="heroes">
                <li *ngFor="let hero of state.heroes">
                <button type="button">
                <span class="badge">{{hero.id}}</span>
                <span class="name">{{hero.name}}</span>
                </button>
            </li>
            </ul>
        </div>

    <div *ngSwitchCase="HeroesStateEnum.ERROR">
        <div class="p-2">{{ state.errorMessage }}</div>
    </div>
</div>