<h2>Top Heroes</h2>

<div *ngIf="heroesState | async as state" [ngSwitch]="state.dataState">

  <div *ngSwitchCase="HeroesStateEnum.INITIAL">
    <div>Initial State</div>
  </div>

  <div *ngSwitchCase="HeroesStateEnum.LOADING">
    <mat-spinner mode="indeterminate">Loading ...</mat-spinner>
  </div>

  <div *ngSwitchCase="HeroesStateEnum.LOADED">

    <div class="heroes-menu">
      <button mat-raised-button color="primary" *ngFor="let hero of state.heroes.slice(1,5)" routerLink="/hero-details/{{hero.id}}">
        {{ hero.name}}
      </button>
    </div>

  </div>

  <div *ngSwitchCase="HeroesStateEnum.ERROR">
    <div class="p-2">{{ state.errorMessage }}</div>
  </div>
</div>

