
<div class="main-div">

  <div *ngIf="state">

    <div *ngIf="state.dataState == HeroesStateEnum.LOADING">
      <mat-progress-bar mode="query">Loading ...</mat-progress-bar>

    </div>

    <div *ngIf="state.dataState ==HeroesStateEnum.ERROR">
      {{state.errorMessage}}
    </div>

    <div *ngIf="state.dataState ==HeroesStateEnum.UPDATED">
      <span>Hero Update Successfully</span>
      <button mat-raised-button color="accent" (click)="okUpdated()"> Ok</button>
    </div>

    <div *ngIf="state.dataState ==HeroesStateEnum.LOADED" >


      <div mat-divider class="heroes">

            <form [formGroup]="heroFormGroup" (ngSubmit)="onUpdateHero()" fxLayout="column" fxLayoutAlign="center center">


                <mat-form-field>
                  <mat-label>Hero ID: {{ heroID }}</mat-label>
                  <input matInput  type="text" formControlName="id" id="id" [disabled]="true">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Hero name</mat-label>
                  <input matInput  formControlName="name" maxlength="25"  >
                </mat-form-field>



              <button mat-raised-button color="primary" type="submit">Save</button>
            </form>

      </div >



    </div>

    <div *ngIf="state.dataState ==HeroesStateEnum.ERROR">
      <div class="p-2">{{ state.errorMessage }}</div>
    </div>
  </div>

  <button mat-raised-button color="warn" (click)="goBack()">Back</button>
</div>
