
<div class="main-div">

  <div *ngIf="state">

    <div *ngIf="state.dataState == HeroesStateEnum.LOADING">
      <mat-spinner mode="indeterminate">Loading ...</mat-spinner>
    </div>

    <div *ngIf="state.dataState ==HeroesStateEnum.ERROR">
      {{state.errorMessage}}
    </div>

    <div *ngIf="state.dataState ==HeroesStateEnum.UPDATED">
      <span>Hero Update Successfully</span>
      <button (click)="okUpdated()"> Ok</button>
    </div>

    <div *ngIf="state.dataState ==HeroesStateEnum.LOADED" >


      <div mat-divider class="heroes">

            <form [formGroup]="heroFormGroup" (ngSubmit)="onUpdateHero()">

              <div class="hero-full-width" appearance="fill">

                <mat-label>Hero ID</mat-label>
                <input  type="text" formControlName="id" id="id" >

                <mat-label>Hero name</mat-label>

                <input   formControlName="name" maxlength="25"  >


              </div>

              <button type="submit">Save</button>
            </form>

      </div >

    </div>

    <div *ngIf="state.dataState ==HeroesStateEnum.ERROR">
      <div class="p-2">{{ state.errorMessage }}</div>
    </div>
  </div>

  <button mat-button (click)="goBack()">Back</button>
</div>
